<div class="nav-container">
  <nav id="nav">
    <ul role="menubar">

      <!-- Menu tooggle on smaller screens  -->
      <li id="toggleMenu" role="button" aria-haspopup="true">

        <a href="/sitemap.html"><span class="icon-menu">&#9776;</span><span class="icon-menu-closed">X</span>
          Menu</a>
      </li>

      <!-- Simple menu item without sub menu -->
      <li role="none"><a class="logo" role="menuitem" href="/"><img src="/images/brand/ember_Ember-Dark.png" alt='Ember.js logo'></a></li>
      <!--  Menu item with one sub menu -->
      <li class="drop-menu" role="menuitem">
        <LinkTo @route="learn">Learn</LinkTo>
      </li>
      <NavDropdown @show={{action "show"}} @item="docs" @showItem={{this.docs}} @label="Docs" >
        <li><a role="menuitem" tabindex="0" href="https://guides.emberjs.com">Ember.js Guides</a></li>
        <li><a role="menuitem" tabindex="0" href="https://api.emberjs.com">API Reference</a></li>
        <li><a role="menuitem" tabindex="0" href="https://cli.emberjs.com">Ember CLI Guides</a></li>
      </NavDropdown>
      <NavDropdown @show={{action "show"}} @item="releases" @showItem={{this.releases}} @label="Releases">
        <li><LinkTo @route="releases.release">Latest Stable</LinkTo></li>
        <li><LinkTo @route="releases.lts">Latest LTS</LinkTo></li>
        <li><LinkTo @route="releases.beta">Beta</LinkTo></li>
        <li><LinkTo @route="releases.canary">Canary</LinkTo></li>
        <li><LinkTo @route="releases.about">About</LinkTo></li>
      </NavDropdown>
      <li class="drop-menu" role="menuitem">
        <a role="menuitem" tabindex="0" href="https://blog.emberjs.com">Blog</a>
      </li>
      <NavDropdown @show={{action "show"}} @item="community" @showItem={{this.community}} @label="Community" >
        <li></li>
        <li><LinkTo @route="community">Get help</LinkTo></li>
        <li><LinkTo @route="contribute">Contribute</LinkTo></li>
        <li><a role="menuitem" tabindex="0" href="https://jobs.emberjs.com">Job Board</a></li>
        <li><a role="menuitem" tabindex="0" href="https://emberconf.com">Ember Conf</a></li>
      </NavDropdown>
      <NavDropdown @show={{action "show"}} @item="about" @showItem={{this.about}} @label="About" >
        <li><LinkTo @route="team">Team</LinkTo></li>
        <li><LinkTo @route="logos">Branding</LinkTo></li>
        <li><LinkTo @route="mascots">Mascots</LinkTo></li>
        <li><LinkTo @route="ember-users">Who uses Ember</LinkTo></li>
        <li><LinkTo @route="sponsors">Sponsors</LinkTo></li>
        <li><LinkTo @route="about.legal">Legal</LinkTo></li>
        <li><LinkTo @route="security">Security</LinkTo></li>
      </NavDropdown>
    </ul>
  </nav>
</div><!-- .nav-container -->