<div class="nav-container">
  <nav id="nav">
    <ul role="menubar">

      <!-- Menu tooggle on smaller screens  -->
      <li id="toggleMenu" role="button" aria-haspopup="true">

        <a href="/sitemap.html"><span class="icon-menu">&#9776;</span><span class="icon-menu-closed">X</span>
          Menu</a>
      </li>

      <!-- Simple menu item without sub menu -->
      <li role="none"><a class="logo" role="menuitem" href=""><img src="/images/brand/ember_Ember-Dark.png" alt='Ember.js logo'></a></li>

      <!--  Menu item with one sub menu -->
      <NavDropdown @show={{action "show"}} @item="docs" @showItem={{this.docs}} @label="Docs" >
        <li><a role="menuitem" tabindex="0" href="#">Test</a></li>
        <li><a role="menuitem" tabindex="0" href="#">Test</a></li>
      </NavDropdown>
      <NavDropdown @show={{action "show"}} @item="releases" @showItem={{this.releases}} @label="Releases">
        <li><LinkTo @route="releases.release">Latest Stable</LinkTo></li>
        <li><LinkTo @route="releases.lts">Latest LTS</LinkTo></li>
        <li><LinkTo @route="releases.beta">Beta</LinkTo></li>
        <li><LinkTo @route="releases.canary">Canary</LinkTo></li>
        <li><LinkTo @route="releases.about">About</LinkTo></li>
      </NavDropdown>
      <li class="drop-menu" role="menuitem">
        <a role="menuitem" tabindex="0" href="">Blog</a>
      </li>
      <NavDropdown @show={{action "show"}} @item="community" @showItem={{this.community}} @label="Community" >
        <li><a role="menuitem" tabindex="0" href="#">Test</a></li>
        <li><a role="menuitem" tabindex="0" href="#">Test</a></li>
      </NavDropdown>
      <NavDropdown @show={{action "show"}} @item="about" @showItem={{this.about}} @label="About" >
        <li><LinkTo @route="team">Team</LinkTo></li>
      </NavDropdown>
    </ul>
  </nav>
</div><!-- .nav-container -->